.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    font-size: 0.8em;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #1b1a20;
    background-color: #ececec;

    border: 1px solid transparent;
  }


